---
layout: layouts/home.njk
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
title: Archive
permalink: /posts/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}
---

{% set postslist = posts %}
{% include "postslist.njk" %}
{% set content = posts %}
{% set paginationSlug = "posts/" %}
{% include "pagination_control.njk" %}
