---
title: Piraces Personal Blog
layout: layouts/home.njk
description: Personal blog about software development and tech related things
date: Last Modified
---

<p>
   <b>👋 Hi! I'm Raúl Piracés</b>
</p>
</p>
   I'm a Software Engineer 👨‍💻🎧 & Full Stack developer who is passionate about Web Development, Cloud computing architecture, and open source.
</p>
</p>
   This is my personal blog when I write occasionally about sofware development and tech related things 🙂
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>