---
title: Tab title scroll animation
description: Tab title scroll animation
image: ../../img/labs/labs.png
layout: layouts/home.njk
---
<h2>JS trick to animate tab title</h2>

<p>Based on the example in <a href="https://github.com/MattBeaudin/title-scroll">MattBeaudin GitHub</a>.</p>

<script async defer src="{{ "/js/title-scroll.js" | addHash }}"></script>